<%- include("header") -%>

<h2 style="text-align: center;">This is the about page</h2>

<p>Our To-Do List app is designed to help you stay organized, boost productivity, and manage tasks effortlessly. <br>  
    Whether you're planning your day, tracking projects, or setting reminders, our intuitive interface makes task management simple and efficient.</p>

<p>With features like real-time syncing, smart categorization, and customizable priorities, our app ensures you never miss an important task. <br>  
Stay focused, achieve your goals, and make productivity a habit with our powerful yet easy-to-use task manager!</p>
    
<%- include("footer") -%>
